<ul class="nav">

    <li class="nav-item">
        {{!-- <button type="submit" class="btn btn-secondary" id="login-button">Login</button> --}}
        <img src="/images/watcher.jpg" alt="watcher.jpg" id="watcherlogo" class="form-inline mx-auto d-block">
    </li>

</ul>
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto d-block">
            {{!-- Do we need a sign out button? --}}
            {{!-- <button type="submit" class="btn btn-secondary">Sign Out</button> --}}
            {{!-- Login link for modal --}}

            <form id="input_form" class="form-group align-items-center">
                <textarea class="form-control-sm" type="text" id="userName" placeholder="Type Username here"></textarea>
                <textarea class="form-control" type="text" id="body" placeholder="Type message here" id="message-form"></textarea>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>

            <div id="feeds" class="mx-auto d-block overflow-auto">
                {{!-- card that handlebars will create each post with --}}
                {{#each posts}}
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Username: {{this.userName}}</h5>
                        <p class="card-text">Message: {{this.body}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="col-md-8 mx-auto d-block">
            {{!-- Map will display here --}}
            <div id="map"></div>
        </div>
    </div>
</div>