<ul class="nav justify-content-center">
    <li class="nav-item">
        <h1>WATCHER</h1>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
        {{!-- Login link for modal --}}
    </li>
</ul>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="/" method="POST">
                <p>Username:</p>
                <textarea type="text" name="body">Insert Message</textarea>
                <button type="submit">Submit</button>
            </form>
            <div>
                <div class="overflow-auto justify-content-center" style="max-height:400px;">
                    <ul>
                        {{#each posts}}
                        <li>
                            <p>Username: {{this.userName}}</p>

                            <p>Message: {{this.body}}</p>
                        </li>
                        {{/each}}
                    </ul>
                    <ul>
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Info card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                            </div>
                        </div>
                    </ul>
                    <ul>
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Info card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                            </div>
                        </div>
                    </ul>
                    <ul>
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Info card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                            </div>
                        </div>
                    </ul>
                </div>

            </div>
            
        </div>

        <div class="col-md-8">
            {{!-- Map will display here instead of jumbotron --}}
            <div class="jumbotron"></div>

        </div>
    </div>
</div>



{{!-- <form action="/" method="POST">
                    <label for="fname">Username:</label><br>
                    <input type="text" id="fname" name="fname" value="Name"><br>
                    <input type="submit" value="Submit">
                </form> --}}