@media (max-width: 767px) {
    .column {
        width: 100%;
    }
}
/* @media (min-width: 768px) and (max-width: 1024px) {
    .column {
        width: 50%;
    }
}
@media (min-width: 1025px) {
    .column {
        width: 25%; */
p {
    color: white;
}
#watcherlogo {
    max-width: 70%;
}

.nav {
    background-color: black;
}
form {
    margin-top: 10px;
}

#map {
    margin: 10% 10% 10% 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.col-md-4 {
    background-color: #333333;
}

.col-md-8 {
    background-color: #333333;
}
.card {
    background-color: darkslategrey;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #333333;
}

.btn {
    font-family: 'Kanit', sans-serif;
}

.mapboxgl-map{
    overflow: visible ;
}

.mapboxgl-popup-content {color: white; background-color: #333333;font-size: small; opacity: 100;}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-bottom: none;
    border-top-color: #333333;
} 