@media (max-width: 767px) {
    .column {
        width: 100%;
    }
}
/* @media (min-width: 768px) and (max-width: 1024px) {
    .column {
        width: 50%;
    }
}
@media (min-width: 1025px) {
    .column {
        width: 25%; */


h1 {
    font-size: 200px;
}